.home-btn {
  background-color: #6749b9 ;
  border-color: #6244b3 ;
  border-radius: 23px;
  
  padding: 10px 25px;
  color: #fff;
  transition: all 0.8s ease ;
  font-weight: 600;
}

.home-btn.active{
    background: green;
  }
.datecontent{
  max-width: 600px;
  margin: 25px auto;
  border: 1px solid #ccc;
  padding: 25px;
  border-radius: 6px;
}
.datecontent .react-datepicker-wrapper,
.datecontent .react-datepicker__input-container
{
  display: block; 
}
.btn.btn-link{
border-radius: 23px;  
padding: 10px 25px;
color: #fff;
transition: all 0.8s ease ;
font-weight: 600;
}
.btn.btn-link:hover{
text-decoration: none !important;
color: #fff;
opacity: 0.9;
}
.btn.btn-link.btn-1{
  background: #82c5f7;
  border-color: #82c5f7;
}
.btn.btn-link.btn-2{
  background: #428ddb;
  border-color: #428ddb;
}
.btn.btn-link.btn-3{
  background: #306ba6;
  border-color: #306ba6;
}
.btn.btn-link.btn-4{
  background: #707070;
  border-color: #707070;
}
.btn.btn-link:focus{
  background: #50b648 !important;
  text-decoration: none !important;
  color: #fff;
  opacity: 1;
}
.datecontent .inputGroupAdjust{
  border-top-right-radius: 10px ;
  border-bottom-right-radius: 10px ;
}
.datecontent .input-group-text{
  background-color: #fff;
  border-left: 0;
}
.datecontent .input-group > .form-control:not(:last-child),.datecontent .input-group > .custom-select:not(:last-child){
  border-top-left-radius: 10px ;
  border-bottom-left-radius: 10px ;
}
.datecontent .groupInputText{
  border-right: 0;
}
.datecontent .groupInputSec{
  width:85%;
}