/* .App {
  text-align: center;
} */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);  
  }
  to {
    transform: rotate(360deg);
  }
} 

.form-control.date_picker_class{
  height: 30px;
  padding: 20px 25px;
  border-radius: 30px;
  font-size: 20px;
  border: 1px solid gray;
  color:gray;
  font-family: 'Cabin', sans-serif;
  width: 100%;
}
.react-datepicker__day.react-datepicker__day--selected {
  background: #fff;
  color: #1d5d90;
  font-weight: 700;
}
.react-datepicker__day.react-datepicker__day--selected:hover{
  background: #fff;
  color: #3b99e6;
}
.react-datepicker__triangle {
  border-bottom-color: #fff !important;
}
.react-datepicker__header {
  background: #fff !important;
  border: 0 !important;
}
.react-datepicker__day, .react-datepicker__day-name {
  font-size: 18px;
  padding: 3px;
  font-weight: 600;
  font-family: 'Cabin', sans-serif;
}
.react-datepicker__current-month {
  font-size: 20px !important;
  padding-bottom: 10px;
  font-family:'Cabin', sans-serif;
}
.date_picker_class:focus{
  outline: none;
}

